```css
/*!
 * $--size-base : 12px
 * Site Utilities
 */
/* vertical-align
-------------------------- */
.align-baseline {
  vertical-align: baseline !important;
}

.align-top {
  vertical-align: top !important;
}

.align-middle {
  vertical-align: middle !important;
}

.align-bottom {
  vertical-align: bottom !important;
}

.align-text-bottom {
  vertical-align: text-bottom !important;
}

.align-text-top {
  vertical-align: text-top !important;
}
/* float
-------------------------- */
.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.float-none {
  float: none !important;
}
/* overflow
-------------------------- */
.overflow-auto {
  overflow: auto !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.overflow-x-auto {
  overflow-x: auto !important;
}

.overflow-y-auto {
  overflow-y: auto !important;
}
.overflow-visible {
  overflow: visible !important;
}
/* display
-------------------------- */
.d-none {
  display: none !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-block {
  display: block !important;
}

.d-table {
  display: table !important;
}

.d-table-row {
  display: table-row !important;
}

.d-table-cell {
  display: table-cell !important;
}

.d-flex {
  display: flex !important;
}

.d-inline-flex {
  display: inline-flex !important;
}
/* justify-content
-------------------------- */
.justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-around {
  justify-content: space-around !important;
}

.justify-content-evenly {
  justify-content: space-evenly !important;
}
/* align items
-------------------------- */
.align-items-start {
  align-items: flex-start !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-baseline {
  align-items: baseline !important;
}

.align-items-stretch {
  align-items: stretch !important;
}
/* align self
-------------------------- */
.align-self-auto {
  align-self: auto !important;
}

.align-self-start {
  align-self: flex-start !important;
}

.align-self-end {
  align-self: flex-end !important;
}

.align-self-center {
  align-self: center !important;
}

.align-self-baseline {
  align-self: baseline !important;
}

.align-self-stretch {
  align-self: stretch !important;
}
/* flex
-------------------------- */
.flex-fill {
  flex: 1 1 auto !important;
}
.flex-1 {
  flex: 1 1 0% !important;
}
/* flex direction
-------------------------- */
.flex-row {
  flex-direction: row !important;
}

.flex-column {
  flex-direction: column !important;
}

.flex-row-reverse {
  flex-direction: row-reverse !important;
}

.flex-column-reverse {
  flex-direction: column-reverse !important;
}
/* flex flow
-------------------------- */
.flex-flow-wrap {
  flex-flow: wrap !important;
}
.flex-wrap {
  flex-wrap: wrap !important;
}
.flex-flow-nowrap {
  flex-wrap: nowrap !important;
}
/* flex grow
-------------------------- */
.flex-grow-0 {
  flex-grow: 0 !important;
}

.flex-grow-1 {
  flex-grow: 1 !important;
}
/* flex shrink
-------------------------- */
.flex-shrink-0 {
  flex-shrink: 0 !important;
}

.flex-shrink-1 {
  flex-shrink: 1 !important;
}
/* visibility
-------------------------- */
.visible {
  visibility: visible !important;
}

.invisible {
  visibility: hidden !important;
}
/* shadow
-------------------------- */
.shadow {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1) !important;
}

.shadow-none {
  box-shadow: none !important;
}
/* position
-------------------------- */
.position-static {
  position: static !important;
}

.position-relative {
  position: relative !important;
}

.position-absolute {
  position: absolute !important;
}

.position-fixed {
  position: fixed !important;
}

.position-sticky {
  position: sticky !important;
}

.top-0 {
  top: 0;
}
.top-10 {
  top: 10%;
}

.right-0 {
  right: 0;
}
.bottom-0 {
  bottom: 0;
}
.left-0 {
  left: 0;
}

/* width
-------------------------- */
.w-25 {
  width: 25% !important;
}

.w-40 {
  width: 40% !important;
}

.w-50 {
  width: 50% !important;
}

.w-60 {
  width: 60% !important;
}

.w-75 {
  width: 75% !important;
}

.w-100 {
  width: 100% !important;
}

.w-auto {
  width: auto !important;
}

.w-min {
  width: min-content !important;
}

.w-max {
  width: max-content !important;
}

.mw-100 {
  max-width: 100% !important;
}

.vw-100 {
  width: 100vw !important;
}

.min-vw-100 {
  min-width: 100vw !important;
}
/* height
-------------------------- */
.h-25 {
  height: 25% !important;
}

.h-50 {
  height: 50% !important;
}

.h-75 {
  height: 75% !important;
}

.h-100 {
  height: 100% !important;
}

.h-auto {
  height: auto !important;
}

.h-min {
  height: min-content !important;
}

.h-max {
  height: max-content !important;
}

.mh-100 {
  max-height: 100% !important;
}

.vh-100 {
  height: 100vh !important;
}

.min-vh-100 {
  min-height: 100vh !important;
}
/* margin
-------------------------- */
.m-0 {
  margin: 0 !important;
}

.m-1 {
  margin: $--size-base * 0.5 !important; // 6px
}

.m-2 {
  margin: $--size-base !important; // 12px
}

.m-3 {
  margin: $--size-base * 1.5 !important; // 18px
}

.m-4 {
  margin: $--size-base * 2 !important; // 24px
}

.m-5 {
  margin: $--size-base * 2.5 !important; // 30px
}
.m-auto {
  margin: auto !important;
}
.mx-0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.mx-xs {
  margin-right: $--size-base * 0.25 !important;
  margin-left: $--size-base * 0.25 !important;
}
.mx-1 {
  margin-right: $--size-base * 0.5 !important;
  margin-left: $--size-base * 0.5 !important;
}

.mx-2 {
  margin-right: $--size-base !important;
  margin-left: $--size-base !important;
}

.mx-3 {
  margin-right: $--size-base * 1.5 !important;
  margin-left: $--size-base * 1.5 !important;
}

.mx-4 {
  margin-right: $--size-base * 2 !important;
  margin-left: $--size-base * 2 !important;
}

.mx-5 {
  margin-right: $--size-base * 2.5 !important;
  margin-left: $--size-base * 2.5 !important;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.my-1 {
  margin-top: $--size-base * 0.5 !important;
  margin-bottom: $--size-base * 0.5 !important;
}

.my-2 {
  margin-top: $--size-base !important;
  margin-bottom: $--size-base !important;
}

.my-3 {
  margin-top: $--size-base * 1.5 !important;
  margin-bottom: $--size-base * 1.5 !important;
}

.my-4 {
  margin-top: $--size-base * 2 !important;
  margin-bottom: $--size-base * 2 !important;
}

.my-5 {
  margin-top: $--size-base * 2.5 !important;
  margin-bottom: $--size-base * 2.5 !important;
}

.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-xs {
  margin-top: $--size-base * 0.25 !important;
}

.mt-1 {
  margin-top: $--size-base * 0.5 !important;
}

.mt-2 {
  margin-top: $--size-base !important;
}

.mt-3 {
  margin-top: $--size-base * 1.5 !important;
}

.mt-4 {
  margin-top: $--size-base * 2 !important;
}

.mt-5 {
  margin-top: $--size-base * 2.5 !important;
}

.mt-auto {
  margin-top: auto !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mr-xs {
  margin-right: $--size-base * 0.25 !important;
}

.mr-1 {
  margin-right: $--size-base * 0.5 !important;
}

.mr-2 {
  margin-right: $--size-base !important;
}

.mr-3 {
  margin-right: $--size-base * 1.5 !important;
}

.mr-4 {
  margin-right: $--size-base * 2 !important;
}

.mr-5 {
  margin-right: $--size-base * 2.5 !important;
}

.mr-auto {
  margin-right: auto !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-xs {
  margin-bottom: $--size-base * 0.25 !important;
}

.mb-1 {
  margin-bottom: $--size-base * 0.5 !important;
}

.mb-2 {
  margin-bottom: $--size-base !important;
}

.mb-3 {
  margin-bottom: $--size-base * 1.5 !important;
}

.mb-4 {
  margin-bottom: $--size-base * 2 !important;
}

.mb-5 {
  margin-bottom: $--size-base * 2.5 !important;
}

.mb-auto {
  margin-bottom: auto !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.ml-xs {
  margin-left: $--size-base * 0.25 !important;
}

.ml-1 {
  margin-left: $--size-base * 0.5 !important;
}

.ml-2 {
  margin-left: $--size-base !important;
}

.ml-3 {
  margin-left: $--size-base * 1.5 !important;
}

.ml-4 {
  margin-left: $--size-base * 2 !important;
}

.ml-5 {
  margin-left: $--size-base * 2.5 !important;
}

.ml-auto {
  margin-left: auto !important;
}
/* padding
-------------------------- */
.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: $--size-base * 0.5 !important;
}

.p-2 {
  padding: $--size-base !important;
}

.p-3 {
  padding: $--size-base * 1.5 !important;
}

.p-4 {
  padding: $--size-base * 2 !important;
}

.p-5 {
  padding: $--size-base * 2.5 !important;
}

.px-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.px-1 {
  padding-right: $--size-base * 0.5 !important;
  padding-left: $--size-base * 0.5 !important;
}

.px-2 {
  padding-right: $--size-base !important;
  padding-left: $--size-base !important;
}

.px-3 {
  padding-right: $--size-base * 1.5 !important;
  padding-left: $--size-base * 1.5 !important;
}

.px-4 {
  padding-right: $--size-base * 2 !important;
  padding-left: $--size-base * 2 !important;
}

.px-5 {
  padding-right: $--size-base * 2.5 !important;
  padding-left: $--size-base * 2.5 !important;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.py-1 {
  padding-top: $--size-base * 0.5 !important;
  padding-bottom: $--size-base * 0.5 !important;
}

.py-2 {
  padding-top: $--size-base !important;
  padding-bottom: $--size-base !important;
}

.py-3 {
  padding-top: $--size-base * 1.5 !important;
  padding-bottom: $--size-base * 1.5 !important;
}

.py-4 {
  padding-top: $--size-base * 2 !important;
  padding-bottom: $--size-base * 2 !important;
}

.py-5 {
  padding-top: $--size-base * 2.5 !important;
  padding-bottom: $--size-base * 2.5 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-1 {
  padding-top: $--size-base * 0.5 !important;
}

.pt-2 {
  padding-top: $--size-base !important;
}

.pt-3 {
  padding-top: $--size-base * 1.5 !important;
}

.pt-4 {
  padding-top: $--size-base * 2 !important;
}

.pt-5 {
  padding-top: $--size-base * 2.5 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pr-1 {
  padding-right: $--size-base * 0.5 !important;
}

.pr-2 {
  padding-right: $--size-base !important;
}

.pr-3 {
  padding-right: $--size-base * 1.5 !important;
}

.pr-4 {
  padding-right: $--size-base * 2 !important;
}

.pr-5 {
  padding-right: $--size-base * 2.5 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-1 {
  padding-bottom: $--size-base * 0.5 !important;
}

.pb-2 {
  padding-bottom: $--size-base !important;
}

.pb-3 {
  padding-bottom: $--size-base * 1.5 !important;
}

.pb-4 {
  padding-bottom: $--size-base * 2 !important;
}

.pb-5 {
  padding-bottom: $--size-base * 2.5 !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pl-1 {
  padding-left: $--size-base * 0.5 !important;
}

.pl-2 {
  padding-left: $--size-base !important;
}

.pl-3 {
  padding-left: $--size-base * 1.5 !important;
}

.pl-4 {
  padding-left: $--size-base * 2 !important;
}

.pl-5 {
  padding-left: $--size-base * 2.5 !important;
}
/* font-size
-------------------------- */
.font-size-1 {
  font-size: $--size-base * 2 !important;
}
.font-size-2 {
  font-size: $--size-base * 1.75 !important;
}
.font-size-3 {
  font-size: $--size-base * 1.5 !important;
}
.font-size-4 {
  font-size: $--size-base * 1.35 !important;
}
.font-size-5 {
  font-size: $--size-base * 1.25 !important;
}
.font-size-6 {
  font-size: $--size-base * 1.175 !important;
}
.font-size-lg {
  font-size: $--size-base * 1.085 !important;
}
.font-size-sm {
  font-size: $--size-base !important;
}
.font-size-s {
  font-size: $--size-base * 0.925 !important;
}
.font-size-xs {
  font-size: $--size-base * 0.85 !important;
}
/* font-weight
-------------------------- */
.font-weight-light {
  font-weight: 400 !important;
}

.font-weight-normal {
  font-weight: 500 !important;
}

.font-weight-medium {
  font-weight: 600 !important;
}

.font-weight-bold {
  font-weight: 700 !important;
}

.font-weight-bolder {
  font-weight: bolder !important;
}
/* text-modifier
-------------------------- */
.text-ellipsis {
  text-overflow: ellipsis !important;
}

.text-wrap {
  white-space: normal !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

.text-break {
  word-wrap: break-word !important;
}
.text-break-all {
  word-break: break-all !important;
}
.text-break-word {
  word-break: break-word !important;
}
.text-decoration-none {
  text-decoration: none !important;
}

.text-decoration-underline {
  text-decoration: underline !important;
}

.text-decoration-line-through {
  text-decoration: line-through !important;
}

.font-italic {
  font-style: italic !important;
}

.font-normal {
  font-style: normal !important;
}
/* text-transform
-------------------------- */
.text-lowercase {
  text-transform: lowercase !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}
/* text-align
-------------------------- */
.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}
/* color
-------------------------- */
.text-default {
  color: initial !important;
}

.text-info {
  color: var(--info-color) !important;
}

.text-primary {
  color: var(--primary-color) !important;
}

.text-success {
  color: var(--success-color) !important;
}

.text-warning {
  color: var(--warning-color) !important;
}

.text-danger {
  color: var(--danger-color) !important;
}

.text-dark {
  color: $--color-black !important; //#231F20
}

.text-muted {
  color: $--color-info !important; //#909399
}

.text-light {
  color: var(--info-border-color) !important; //#e6e6e7
}

.text-white {
  color: $--color-white !important; //#ffffff
}

.text-reset {
  color: inherit !important;
}

.text-pink {
  color: $--color-pink !important;
}
.text-purple {
  color: $--color-purple !important;
}
.text-medium {
  color: var(--info-active-color) !important;
}
/* line-height
-------------------------- */
.lh-1 {
  line-height: 1 !important;
}

.lh-sm {
  line-height: 1.25 !important;
}

.lh-base {
  line-height: 1.5 !important;
}

.lh-lg {
  line-height: 2 !important;
}
.lh-xl {
  line-height: 2.35 !important;
}

/* border
-------------------------- */
.border {
  border: 1px solid var(--info-border-color) !important;
}
.border-light {
  border-color: $--border-color-lighter !important;
}
.border-lighter {
  border: 1px solid $--card-border-color !important;
}
.border-dark {
  border-color: var(--info-active-color) !important;
}
.border-0 {
  border: 0 !important;
}

.border-top {
  border-top: 1px solid $--border-color-lighter !important;
}
.border-top-0 {
  border-top: 0 !important;
}

.border-right {
  border-right: 1px solid $--border-color-lighter !important;
}

.border-right-0 {
  border-right: 0 !important;
}

.border-bottom {
  border-bottom: 1px solid $--border-color-lighter !important;
}

.border-bottom-0 {
  border-bottom: 0 !important;
}

.border-left {
  border-left: 1px solid $--border-color-lighter !important;
}

.border-left-0 {
  border-left: 0 !important;
}
.border-bottom--light {
  border-bottom: 1px solid $--card-border-color !important;
}
.border-primary {
  border-color: var(--primary-border-color) !important;
}

.border-success {
  border-color: var(--success-border-color) !important;
}

.border-info {
  border-color: var(--info-border-color) !important;
}

.border-warning {
  border-color: var(--warning-border-color) !important;
}

.border-danger {
  border-color: var(--danger-border-color) !important;
}

.border-white {
  border-color: $--color-white !important;
}
.border-dashed {
  border-top: 1px dashed var(--info-border-color) !important;
}

.border-radius-circle {
  border-radius: 50%;
}
.border-radius-round {
  border-radius: 5px;
}

/* background-color
-------------------------- */
.bg-primary {
  background-color: var(--primary-color) !important;
}
.bg-primary-lighter {
  background-color: var(--primary-bg-color) !important;
}

.bg-success {
  background-color: var(--success-color) !important;
}
.bg-success-lighter {
  background-color: var(--success-bg-color) !important;
}

.bg-info {
  background-color: var(--info-color) !important;
}
.bg-info-lighter {
  background-color: var(--info-bg-color) !important;
}
.bg-lightblue {
  background-color: lightblue;
}
.bg-warning {
  background-color: var(--warning-color) !important;
}
.bg-warning-lighter {
  background-color: var(--warning-bg-color) !important;
}

.bg-danger {
  background-color: var(--danger-color) !important;
}
.bg-danger-lighter {
  background-color: var(--danger-bg-color) !important;
}

.bg-light {
  background-color: var(--info-border-color) !important;
}

.bg-dark {
  background-color: var(--info-active-color) !important;
}

.bg-body {
  background-color: $--background-color-base !important;
}

.bg-white {
  background-color: $--color-white !important;
}

.bg-disabled {
  background-color: transparent !important;
  opacity: 0.6;
}

.bg-transparent {
  background-color: transparent !important;
}
/* cursor
-------------------------- */
.cursor {
  cursor: pointer;
}
.cursor-disabled {
  cursor: not-allowed !important;
}
.cursor-move {
  cursor: move !important;
}
.cursor-unset {
  cursor: unset !important;
}
/* clear float
-------------------------- */
.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
  }
}
.clear {
  clear: both;
}
/* text-shadow
-------------------------- */
.text-primary--shadow {
  text-shadow: 0 -20px 0px var(--primary-shadow-color);
}
.text-danger--shadow {
  text-shadow: 0 -20px 0px var(--danger-shadow-color);
}
.text-success--shadow {
  text-shadow: 0 -20px 0px var(--success-shadow-color);
}
/* list-style
-------------------------- */
.list-style-none {
  list-style: none;
}
```
